.submitRow {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align:right;
}

.results {
    overflow-x:auto;
}

#deleteButton {
    width:100%;
}

#diagram {
    width:100%;
}

.controlls {
    text-align: right;
}

#instantclick-bar {
    background: white;
}

.completed a{
    background-image: none !important;
    background-color: #3f9c35 !important;
    color: white !important;
}

.wrong a{
    background-image: linear-gradient(to bottom,#c00 0,#a30000 100%) !important;
    color: white !important;
}

.submitnav a{
    background-color: #0088ce !important;
    background-image: none !important;
    color: white !important;
}

.final {
    background: linear-gradient(to right,#fafafa,#fafafa 60%,#3f9c35)
}
